
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}



* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  header {
    background-color: #5197FE;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(255,255,255);
  }
  
  
  nav {
    float: left;
    width: 30%;
    height: 300px; 
    background: #68A3F8;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #7EA8FA;
    height: 300px; #8B#5D61FC
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  footer {
    background-color: #5197FE;
    padding: 10px;
    text-align: center#668FFF
    color: white;
  }
  
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }